/* From Uiverse.io by terenceodonoghue */ 
.containermy {
  
    display: flex;
    gap: 0.625em;
   
   
  }
  
  .containermy span {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
  }
  
  .containermy span::before {
    content: "";
    display: block;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    background-color: inherit;
    animation: ripple 1.8s ease-out infinite;
    animation-delay: inherit;
    z-index: -1;
  }
  
  .containermy span:nth-of-type(1) {
    background-color: #84cdfa;
  }
  
  .containermy span:nth-of-type(2) {
    background-color: #5ad1cd;
    animation-delay: 0.2s;
  }
  
  .containermy span:nth-of-type(3) {
    background-color: #9b59b6;
    animation-delay: 0.4s;
  }
  
  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale(0);
    }
  
    to {
      opacity: 0;
      transform: scale(3);
    }
  }